@font-face {
    font-family: inter;
    src: url(fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: grotesk;
    src: url(fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

html, body{
    background-color: black;
    scroll-behavior: smooth;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6em;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2em;
}

hr{
    border: 0;
    height: 0.2em;
    margin: 4em 0;
    width: 100%;
    background-image: linear-gradient(to right, #418C70, black);
    z-index: 9;
}

#spotlight1 {
    position: absolute;
    width: 35vw;
    height: 15vw;
    right: 20vh;
    top: 25vh;
    z-index: 1;
}

#spotlight2 {
    position: absolute;
    width: 25vw;
    height: 15vw;
    left: -35vh;
    top: 135vh;
    z-index: 1;
}

#spotlight3 {
    position: absolute;
    width: 15vw;
    height: 10vw;
    right: 10vh;
    top: 260vh;
    z-index: 1;
}

#spotlight4 {
    position: absolute;
    width: 15vw;
    height: 15vw;
    left: -10vh;
    top: 330vh;
    z-index: 1;
}

#hero-1 {
    background-color: #116f4f;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(100px);
    opacity: 50%;
    position: absolute;
    z-index: 1;
}

#hero-2 {
    background: linear-gradient(#116f4f, #116f4f);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(215px);
    opacity: 50%;
    z-index: 1;
}

#hero-3 {
    background: linear-gradient(#116f4f, #116f4f);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    filter: blur(125px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 50%;
    z-index: 1;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }
    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }
    to {
        transform: translate(-20%, 30%);
    }
}

.title{
    color: #71F2C1;
    font-family: grotesk;
    font-size: 5em;
    font-weight: 400;  
    z-index: 9;
}

.title-2{
    text-decoration: none;
    font-size: 3em;
    color: #eaeaea;
    font-weight: 400;
}

.body{
    color: #eaeaea;
    font-size: 1.5em;
    font-weight: 300;
    width: 100%;
    z-index: 9;
}

/* NAVBAR */

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    background: linear-gradient(hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 3%, 0.7));
    backdrop-filter: blur(0.2em);
    padding: 3em 4em;
    height: 3em;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: all 0.4s ease;
}

#navbar a{
    text-decoration: none;
    color: #eaeaea;
    font-size: 1.3em;
    transition: all 0.3s ease;
    cursor: pointer;
}

#navbar a:hover{
    transform: scale(1.3); 
    color: #418C70;
    padding: 0em 0.4em;
}

#navbar a:active{
    transform: scale(1.2); 
    color: #3d8067;
}

/* HERO */

#header{
    min-height: 50em;
    display: flex;
    justify-content: center;
    gap: 16em;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    scroll-margin-top: 30vh;
}

#header #avatar{
    max-height: 35em;
    height: auto;
    position: relative;
    z-index: 9;
}

#header #info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    height: auto;
    max-width: 45%;
    position: relative;
    z-index: 10;
}

#header #info h2{
    font-family: grotesk;
    color: #71F2C1;
    font-size: 5.8em;
    font-weight: 400;
}

#header #bottom{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#header #bottom #buttons i{
    font-size: 3em;
    color: #055B41;
    transition: all 0.2s ease;
    cursor: pointer;
}

#header #bottom #buttons i:hover{
    transform: scale(1.2) translateY(-3px); 
    color: #dadada;
}

#header #bottom #buttons i:active{
    transform: scale(1.1);
    color: #b0b0b0;
}

/* ABOUT */

#about{
    display: flex;
    gap: 1.5em;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    scroll-margin-top: 30vh;
}

/* PROJECTS */

#projects{
    display: flex;
    gap: 1.5em;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    scroll-margin-top: 30vh;
}

#projects .project{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

#projects .project #top{
    display: flex;
    gap: 1em;
    align-items: center;
    z-index: 9;
}

#projects .project #top #links{
    display: flex;
    gap: 0.5em;
}

#projects .project a i{
    font-size: 3em;
    color: #055B41;
    transition: all 0.2s ease;
    cursor: pointer;
}

#projects .project i:hover{
    transform: scale(1.2) translateY(-3px); 
    color: #dadada;
}

#projects .project i:active{
    transform: scale(1.1);
    color: #b0b0b0;
}

/* SKILLS */

#skills{
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    scroll-margin-top: 30vh;
}

#skills #info{
    display: flex;
    align-items: center;
    gap: 12em;
    flex-wrap: wrap;
}

#skills #icons{
    display: flex;
    gap: 1em;
    align-items: center;
}

#skills #icons i{
    color: #055B41;
    font-size: 3em;
}

#skills #icons svg{
    fill: #055B41;
    width: 3em;
    height: 3em;
}

#skills .card{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* CONTACT */

#contact{
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    scroll-margin-top: 20vh;
}

#contact form{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    z-index: 9;
}

#contact label{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    color: #dadada;
}

#contact input, 
#contact textarea{
    background-color: #222;
    font-size: 1.5em;
    border: none;
    border-radius: 0.5em;
    padding: 0.3em 0.6em;
    color: #eaeaea;
    font-weight: 300;
}

#contact h3{
    width: fit-content;
    font-size: 1.875em;
    font-weight: 300;
    background: linear-gradient(black, black) padding-box,
                linear-gradient(to right, black, #71F2C1) border-box;
    border-radius: 1em;
    border: 2px solid transparent;
    padding: 0.3em 1.5em;
    cursor: pointer;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
}

#contact h3 a{
    text-decoration: none;
    position: relative;
    z-index: 9;
    color: #eaeaea;
}

#contact h3:active{
    transform: scale(0.95);
}

#contact h3:hover::after{
    left: 0;
}

#contact h3::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #418C70;
    top: 0;
    left: -100%;
    border-radius: 1em;
    transition: all ease 0.4s;
}

/* FOOTER */

#footer{
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    align-items: center;
}

#footer h4{
    color: #eaeaea;
    font-family: grotesk;
    font-size: 1.2em;
    font-weight: 300;
}

#footer #links{
    display: flex;
    gap: 1em;
}

#footer #buttons i{
    font-size: 1.5em;
    color: #055B41;
    transition: all 0.2s ease;
    cursor: pointer;
}

#footer #buttons i:hover{
    transform: scale(1.2) translateY(-3px); 
    color: #dadada;
}

#footer #buttons i:active{
    transform: scale(1.1);
    color: #b0b0b0;
}

@media (max-width: 720px) {
    #header {
        gap: 4em;
        text-align: center;
        flex-direction: column;
    }

    #header #info {
        max-width: 100%;
        align-items: center;
    }

    #skills #info {
        gap: 2em;
    }

    #footer #links{
        justify-content: center;
        align-items: center;
    }
}